@model IEnumerable<Owl.Models.StudentModels.StudentListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" /> |
        @Html.ActionLink("Back to Full List", "Index")
    </p>
}

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index",
           new
           {
               sortOrder = ViewBag.NameSortParam,       
               selectedLastName = ViewBag.SelectedLastName,
               selectedFirstName = ViewBag.SelectedFirstName
           })
        </th>
        <th>
            @Html.ActionLink("First Name", "Index",
           new
           {
               sortOrder = ViewBag.FirstNameSortParam,
               selectedLastName = ViewBag.SelectedLastName,
               selectedFirstName = ViewBag.SelectedFirstName,
           })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfProgram)
        </th>
        <th>
            @Html.ActionLink("First Day", "Index", new { sortOrder = ViewBag.DateSortStartParam })
        </th>
        <th>
            @Html.ActionLink("Last Day", "Index", new { sortOrder = ViewBag.DateSortEndParam })
        </th>
        <th>
            @Html.ActionLink("Has Paid Tuition", "Index", new { sortOrder = ViewBag.HasPaidParam })
        </th>
        <th></th>
    </tr>

    <tr>
        <th>
            @Html.DropDownList("SelectedLastName",
           new SelectList(ViewBag.UniqueLastNames, "Value", "Text", "ViewBag.SelectedLastName"),
           "All", new { onchange = "form.sumbit();" })
        </th>
        <th>
            @Html.DropDownList("SelectedFirstName",
           new SelectList(ViewBag.UniqueFirstNames, "Value", "Text", "ViewBag.SelectedFirstName"),
           "All", new { onchange = "form.sumbit();" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfProgram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasPaidTuition)
            </td>
            <td>
                @Html.ActionLink("Change", "Edit", new { id = item.Id }) |
                @Html.ActionLink("More Info", "Details", new { id = item.Id }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
