@model Owl.Models.FacultyModels.FacultyDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faculty Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfInstrument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfInstrument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasFoodAllergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasFoodAllergy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodAllergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAllergy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPerforming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPerforming)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
